<div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Departamento</button>
	<button type="button" class="btn btn-default" ng-click="cancelar()">Listar Departamento</button>
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-click="">Reporte Departamento</button>
</div>
				
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Departamento</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                				<th>
                                    cod_dane
                                </th>				<th>
                                    nombre_depto
                                </th>
				
				<th>
                    &nbsp;
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                		<td class="row">{{row.cod_dane}}</td>
                		<td class="row">{{row.nombre_depto}}</td>
                
				
				<td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
					<button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Departamento</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar">
            				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
                                    <label for="cod_dane">cod_dane</label>
                                    <input id="cod_dane" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.cod_dane"
            							   placeholder="cod_dane"/>
                                    <div ng-show="errores.cod_dane">{{errores.cod_dane}}</div>
                                </div>
                            </div>				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
                                    <label for="nombre_depto">nombre_depto</label>
                                    <input id="nombre_depto" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.nombre_depto"
            							   placeholder="nombre_depto"/>
                                    <div ng-show="errores.nombre_depto">{{errores.nombre_depto}}</div>
                                </div>
                            </div> 
			
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="guardar()" ng-show="nuevoRegistro">Guardar</button>
                <button type="button" class="btn btn-default" ng-click="guardar()" ng-show="!nuevoRegistro">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

